/* main page specific css */

#myVideo {
    height: 100%;
    width: 177.77777778vh;
    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw;
    /* 100 * 9 / 16 */
    position: fixed;
    z-index: -1;
}

body {
    margin: 0;
    overflow: hidden;
}

iframe {
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.none {
    height: 0;
}

/* Static Background
body>div {
    background-color: rgb(199, 215, 215);
    background-image: url(Illustrations/Keqing.jpg);
    background-size: cover;
    background-position-x: 60%;
    overflow: hidden;
}
*/

/* specific declerations specific declerations specific declerations specific declerations specific declerations */
#main_grid {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: calc(10% + 250px) auto;
    grid-template-rows: 80% auto;
    grid-template-areas: 'menu main' '. footer';
}

/* menu bar menu bar menu bar */
menu {
    grid-area: menu;
    margin: 0px;
}

menu>div {
    float: right;
    height: 100%;
    width: max-content;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2) 95%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
    border-left: 2px solid black;
    padding: 20px;
    --nav-color: rgba(255, 255, 255, 0.8);
    color: var(--nav-color);
}

nav {
    padding: 2%;
    margin-top: 5%;
}

.selected {
    background-color: rgba(0, 0, 0, .06);
    ;
}

.navigators {
    font-size: 10px;
    padding: 5%;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navigators:hover {
    cursor: e-resize;
    background-color: rgba(0, 0, 0, .1);
}

/* footer footer footer footer */
footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
    position: relative;
}
footer > div{
    inset: 20% 15% 15% 30%;
    padding: 10px 40px;
    position: absolute;
    border-top: 2px solid rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row-reverse;
}

/* main main main main main main main */
main {
    grid-area: main;
    position: relative;
    --window-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%);
    -webkit-mask-image: var(--window-mask);
    mask-image: var(--window-mask);

}

.windows {
    inset: 12% 10%;
    position: absolute;
}